/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
    background-color: #e8e7e7;
}

/* Styling for the header */
header {
    text-align: center;
    padding: 20px;
    background-color: #61329e;
    color: rgb(0, 255, 208);
}

/* Styling for each menu item */
nav ul {
    margin: 0px;
list-style-type:none }

/* Styling for the links in the menu */
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #a52eff;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 20px;


}

/* Hover effect for the menu items */
nav ul a:hover {
    background-color: #555;
    border-radius: 10px;
}

.image {
    width: 400px; 
    height: auto; 
    border-radius: 20px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.list-section {
    text-align: center; 
    margin: 10px auto;
    width: 80%; 
    max-width: 600px;    
    background-color: #fff; 
    padding: 2px;    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.list-section ol, 
.list-section ul {
    list-style-position:inside; 
    padding-left: 0px;          
    margin-left: 0px;
}
.list-section li {
    padding-left: 0px;   
    margin: 0px ;   
    font-size: 1.2em;
}
   
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
